#                 ________  ________  ___  ___  _______   _________  ___      ___
#                |\_____  \|\   ____\|\  \|\  \|\  ___ \ |\   ___  \|\  \    /  /|
#                 \|___/  /\ \  \___|\ \  \\\  \ \   __/|\ \  \\ \  \ \  \  /  / /
#                     /  / /\ \_____  \ \   __  \ \  \_|/_\ \  \\ \  \ \  \/  / /
#                    /  /_/__\|____|\  \ \  \ \  \ \  \_|\ \ \  \\ \  \ \    / /
#                   |\________\____\_\  \ \__\ \__\ \_______\ \__\\ \__\ \__/ /
#                    \|_______|\_________\|__|\|__|\|_______|\|__| \|__|\|__|/
#                             \|_________|


{{- if eq .chezmoi.os "darwin" -}}
{{-   include ".bashrc_darwin" -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   include ".bashrc_linux" -}}
{{- end -}}
